{% extends 'views/base.html' %}
{% block title %}User Dashboard{% endblock %}
{% block content%}
  <div class="container">

    <div class="jumbotron">
      <h2>Welcome To The User Dashboard</h2>
      <p>Et ipsum magnis elit condimentum est egestas,
        pellentesque proin tortor tristique, pede mollis magna,
        tincidunt vestibulum interdum ante dolor sem</p>
        <button class="btn btn-primary pull-right" id="start_button">Start</button>
    </div>

    <div class="row col-md-12">
      <div class="col-md-4">
        <h3>Manage Users</h3>
        <p>Et ipsum magnis elit condimentum est egestas,
          pellentesque proin tortor tristique, pede mollis magna,
          tincidunt vestibulum interdum ante dolor sem</p>
          <button class="btn btn-primary col-xs-4 learn_more">Learn More</button>
      </div>
      <div class="col-md-4">
        <h3>Leave Messages</h3>
        <p>Et ipsum magnis elit condimentum est egestas,
          pellentesque proin tortor tristique, pede mollis magna,
          tincidunt vestibulum interdum ante dolor sem</p>
          <button class="btn btn-primary col-xs-4 learn_more">Learn More</button>
      </div>
      <div class="col-md-4">
        <h3>Edit User Information</h3>
        <p>Et ipsum magnis elit condimentum est egestas,
          pellentesque proin tortor tristique, pede mollis magna,
          tincidunt vestibulum interdum ante dolor sem</p>
          <button class="btn btn-primary col-xs-4 learn_more">Learn More</button>
      </div>
    </div>
  </div>
{% endblock %}
